{% extends '::base.html.twig' %}

{% block body %}


    <table class="table">
        <thead>
        <tr>
            <th>Vartotojo ID</th>
            <th>Vardas</th>
            <th>Istrinti?</th>
        </tr>
        </thead>
        <tbody>
        {% for u in users %}

            <tr>
                <td> {{ u.id }} </td>
                <td> {{ u.username }} </td>
                <td><a href="{{ path('delete_user',{'id':u.id}) }}"
                       onclick="return confirm('Ar tikrai norite atšaukti?')">istrinti</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}